.search {
    -webkit-appearance: none;
    background-color: aliceblue;
    color: black;
    border: none;
    outline: none;
    padding: 10px;
    width: 100%; 
    max-width: 300px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  
  @media (max-width: 480px) {
    .search {
      width: 90%;
    }
  }
  