.card-list {  
  width: 85vw;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  justify-content: center;
}

@media (max-width: 1080px){
  .card-list {
    grid-template-columns: repeat(3, 1fr);
  }
  
}

@media (max-width: 768px) {
  .card-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .card-list {
    grid-template-columns: repeat(1, 1fr);
    margin: auto -40px auto 14px;
  }
}
